     /* Calendar Start */

     .calendar-grid {
         display: grid;
         grid-template-columns: repeat(7, 1fr);
         gap: 10px;
     }

     .calendar-day {
         min-height: 110px;
         border-radius: 10px;
         padding: 8px;
         background: #f8f9fa;
         border: 1px solid #dee2e6;
         font-size: 14px;
     }

     .calendar-day.has-milk {
         background: #d1f7d6;
         border-color: #198754;
     }

     .day-number {
         font-weight: bold;
         font-size: 15px;
     }

     .kg-badge {
         font-size: 0.8rem;
         display: inline-block;
         margin-top: 5px;
     }

     .calendar-day.milk-covered {
         background-color: #d1e7dd;
         /* light green */
     }

     .calendar-day.milk-partial {
         background: #fff3cd;
     }

     /* ---------------- MOBILE ---------------- */
     @media (max-width: 768px) {
         .calendar-grid {
             grid-template-columns: repeat(4, 1fr);
         }

         .calendar-day {
             min-height: 90px;
             padding: 6px;
             font-size: 13px;
         }

         .day-number {
             font-size: 14px;
         }
     }

     @media (max-width: 480px) {
         .calendar-grid {
             grid-template-columns: repeat(3, 1fr);
         }

         .calendar-day {
             min-height: 80px;
             padding: 6px;
         }
     }

     /* Calendar End */

     /* Calculator Start */

     @media (max-width: 768px) {
         h3 {
             text-align: center;
         }

         .btn {
             width: 100%;
             margin-bottom: 8px;
         }

         .card {
             margin-bottom: 12px;
         }

         table {
             font-size: 14px;
         }
     }

     @media (max-width: 480px) {
         h3 {
             font-size: 20px;
         }

         .fs-4 {
             font-size: 18px !important;
         }

         table {
             font-size: 13px;
         }
     }

     /* Calculation End */

     /* Yearly Report Start */

     @media (max-width: 768px) {
         h3 {
             text-align: center;
             font-size: 22px;
         }

         .btn {
             width: 100%;
             margin-bottom: 8px;
         }

         table {
             font-size: 14px;
         }
     }

     @media (max-width: 480px) {
         h3 {
             font-size: 20px;
         }

         table {
             font-size: 13px;
         }
     }

     /* Yearly Report End */